<div class="no_padding fixed-row" id="map-container">
  <%= image_tag('map.png', id: 'map-image') %>
  <div class="logo">
    <%= image_tag('teachable-logo.png') %>
  </div>
  <div class="nav-tabs">
    <a href="#">
      <div class="menu-tab" id="search-tab">
        <span>Search</span>
      </div>
    </a>
    <!-- Row for favorite's tab -->
    <%= link_to(favorites_path) do %>
    <div class="menu-tab" id="favorites-tab">
      <span>Favorites</span>
    </div>
    <% end %>
  </div>
</div>
<div class="header">
  <span>Search Gems</span>
</div>
<div class="searchbar">
  <!-- Form for search query of gems -->
  <%= form_tag('/') %>
  <%= text_field_tag 'query', nil, placeholder: 'Search' %>
  <%= image_submit_tag('magnifying-glass.png', id: 'submit-button') %>

</div>
