// AJAX call for search result
$('#gem-name').attr('href', '<%= j @gem_uri %>');
var $gem_name = '<%= @gem_name %>';
if (localStorage.getItem('fav_'+$gem_name)) {
  $('#gem-name-span img').attr('src', '/assets/star-blue.png').attr('class', 'star');
} else {
  $('#gem-name-span img').attr('src', '/assets/star-gray.png').attr('class', 'star');
}
$('#gem-name').html('<%= j @gem_name %>');
$('#gem-info-header').html('Information');
$('#gem-info').html('<%= j @gem_info %>');
$('#gem-dep-header').html('Dependencies')
$('#gem-dep').html('');

<% if @gem_dep.size == 0 %>
$('#gem-dep').append('<p id="gem-dep-none">None</p>');
<% else %>
// Loop through dependencies and create li element for each
<% @gem_dep.each do |name,uri| %>
if (localStorage.getItem('fav_<%= name %>') != null) {
  $('#gem-dep').append('<li><%= j link_to(name, uri, target:"_blank")%> <%= image_tag("star-blue.png", class:'star') %></li>');
} else {
  $('#gem-dep').append('<li><%= j link_to(name, uri, target:"_blank")%> <%= image_tag("star-gray.png", class:'star') %></li>');
}
<% end %>
<% end %>
// Onclick function for stars
$('img.star').on('click',function(){
  $(this).attr('src','/assets/star-blue.png');
  // Returns the name of dependency next to clicked star
  var $dep = $(this).siblings('a').text()
  // Stores key as 'fav_depName' and value as 'depName' in localStorage
  localStorage.setItem('fav_'+$dep, $dep);
})
